.music-name {
  font-weight: bolder;
}

.hotspot-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 1rem;
}

.hotspot-container:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 50%;
}
