.learn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff4f69;
  color: #fff7f8;
  height: 100vh;
}

.learn-title {
  font-size: 1.5rem;
  font-weight: bolder;
  min-width: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.learn-subtitle {
  font-size: 1.1rem;
  font-weight: bolder;
  min-width: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.button-style {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgb(60, 66, 87);
  background-color: #fff7f8;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
}

.button-style:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  background-color: #2b0f54;
  color: #fff7f8;
}
