.hotspot-title {
  font-size: 1.5rem;
  font-weight: bolder;
  min-width: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  color: #2b0f54;
}

.hotspot-only-page {
  height: 100vh;
  background-color: #ffda45;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hotspot-only-page-container {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  color: #2b0f54;
}

@media (max-width: 768px) {
  .hotspot-page-container {
    gap: 0;
    flex-wrap: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .hotspot-title {
    margin-top: 12rem;
    max-width: 25rem;
    margin-bottom: 1.5rem;
  }
}
