.section-settings1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  background-image: url("../../../public/img/music.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-settings2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  background-image: url("../../../public/img/translate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-settings3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  background-image: url("../../../public/img/learning.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.display-loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.big-loader {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.big-loader:hover {
  opacity: 0.5;
}

.small-loader {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.small-loader:hover {
  opacity: 0.5;
}
