.section-settings1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  background-image: url("../../../public/img/music.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-settings2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  background-image: url("../../../public/img/translate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-settings3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  background-image: url("../../../public/img/learning.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.display-loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}

.big-loader {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.big-loader:hover {
  opacity: 0.5;
}

.small-loader {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.small-loader:hover {
  opacity: 0.5;
}

.home-button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
}

.home-button:hover {
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.margin-title {
  margin-left: 10rem;
  margin-right: 10rem;
}
