.section-settings {
  height: 100vh;
  background-color: #fff7f8;
}

.navbar {
  height: 6rem;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #2b0f54;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-settings {
  height: 3rem;
  margin-right: 4rem;
  margin-left: 4rem;
}

.profile-button-effect {
  opacity: 1;
}

.profile-button-effect:hover {
  opacity: 0.5;
}
