.section-settings-search-page {
  height: 100vh;
  background-color: #ffda45;
}

.navbar {
  height: 6rem;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #2b0f54;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-settings {
  height: 3rem;
  margin-right: 4rem;
  margin-left: 4rem;
}

.profile-button-effect {
  opacity: 1;
}

.profile-button-effect:hover {
  opacity: 0.5;
}

.hotspot-title {
  font-size: 1.5rem;
  font-weight: bolder;
  min-width: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  color: #2b0f54;
}

.hotspot-page {
  height: 100vh;
  background-color: #ff8142;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hotspot-page-container {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  color: #2b0f54;
}

@media (max-width: 768px) {
  .hotspot-page-container {
    gap: 0;
    flex-wrap: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .hotspot-title {
    margin-top: 12rem;
    max-width: 25rem;
  }
}
